.element__btn-like {
  width: 22px;
  height: 22px;
  outline: none;
  border: none;
  background: transparent url(../../../images/elements/btn-like-disabled.svg) center center / 22px no-repeat;
  transition: all .2s ease;
}

.element__btn-like:hover {
  opacity: .5;
  cursor: pointer;
}
